*{
    padding: 0px;
    margin: 0px;
}
.header{
    background: linear-gradient(140deg,#EACA81,#B8933E);
    height: 79px;
}
#menu{
  margin: 0;
  padding: 0;
  margin-top: 0px;
}
#menu p{
  list-style: none;
  display: inline-block;
}
#menu p a{
  text-decoration: none;
  position: relative;
  color: #313131;
  font-size: 35px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 14px 30px;
  text-transform: uppercase;
}
#menu p a:before{
  content: '';
  width: 60px;
  position: absolute;
  border-bottom: 8px solid #313131;
  bottom: 0;
  right: 350px;
  transition: 0.7s all;
}
#menu p a:hover:before{
  right: 0;
}
body{
	margin: 0px;
	padding: 0px;
	background: #f1f1f1;
	font-family: arial;
	box-sizing: border-box;
}
.card-container{
	width: 365px;
	height: 480px;
	background: #FFF;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	box-shadow: 0px 1px 10px 1px #000;
	overflow: hidden;
	display: inline-block;
}
.upper-container{
	height: 180px;
	background: #7F00FF;
}
.image-container{
	background: white;
	width: 110px;
	height: 120px;
	border-radius: 10%;
	padding: 5px;
	transform: translate(100px,100px);
}
.image-container img{
	width: 110px;
	height: 120px;
	border-radius: 10%;
}
.lower-container{
	height: 250px;
	background: #FFF;
	padding: 20px;
	padding-top: 40px;
	text-align: center;
}
.lower-container h3, h4{
	box-sizing: border-box;
	line-height: .6;
	font-weight: lighter;
}
.lower-container h4{
	color: #7F00FF;
	opacity: .6;
	font-weight: bold;
}
.lower-container p{
	font-size: 16px;
	color: gray;
	margin-bottom: 30px;
}
.lower-container .btn1{
	padding: 12px 20px;
	background: #7F00FF;
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
}
.lower-container .btn1:hover{
	background: transparent;
	color: #7F00FF;
	border: 2px solid #7F00FF;
}
.lower-container .btn2{
	padding: 12px 20px;
	background: #7F00FF;
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
}
.lower-container .btn2:hover{
	background: transparent;
	color: #7F00FF;
	border: 2px solid #7F00FF;
}
.lower-container .btn3{
	padding: 12px 20px;
	background: #7F00FF;
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
}
.lower-container .btn3:hover{
	background: transparent;
	color: #7F00FF;
	border: 2px solid #7F00FF;
}